Checks: "*,
  -google-*,
  -abseil-*,
  -altera-*,
  -altera-*,
  -android-*,
  -llvm*,
  -fuchsia-*,
  -boost-*,
  -modernize-use-trailing-return-type,
  -zircon-*,
  -readability-static-accessed-through-instance,
  -bugprone-easily-swappable-parameters,
  -readability-avoid-const-params-in-decls,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -hicpp-no-array-decay,
  -readability-avoid-return-with-void-value,
  -hicpp-special-member-functions,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -misc-no-recursion,
  -cppcoreguidelines-macro-usage,
  -readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-function-cognitive-complexity,
  -hicpp-signed-bitwise,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -misc-const-correctness,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -misc-include-cleaner,
  -clang-diagnostic-null-character,
  -hicpp-use-auto,
  -modernize-use-auto,
  -misc-misplaced-const,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -modernize-use-nodiscard,
  -cppcoreguidelines-pro-type-const-cast,
  -readability-else-after-return,
  -cert-oop54-cpp,
  cppcoreguidelines-pro-type-member-init,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-nullptr,
  readability-braces-around-statements,
  readability-redundant-member-init
"
HeaderFilterRegex: ''
FormatStyle:     none
WarningsAsErrors: ''
HeaderFileExtensions: ['', h, hh, hpp, hxx]
ImplementationFileExtensions: [c, cc, cpp, cxx]
CheckOptions:
  cppcoreguidelines-pro-type-member-init.IgnoreArrays: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true